
    <!-- Product Deal Section Start -->
    <div class="custom-container-four container-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Section Title Strat -->
                <div class="section-title-05">
                    <h5 class="section-title-05__title"><span>Kategoriyalar</span></h5>
                    <a href="/category" class="read-more"><span>Mebellər</span><i class="lastudioicon lastudioicon-right-arrow"></i></a>
                </div>
                <!-- Section Title End -->
            </div>
            <div class="col-12">
                <div class="product-active-four mt-4">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <!-- swiper-slide start -->
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-06 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="350" height="350" src="https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                        
                                    </div>
                                    <div class="product-item__content" style="margin-top: 2rem;">
                                        <h5 class="product-item__title"><a href="/category">Yataq Otağı Mebeli</a></h5>
                                        <a href="/category" class="product-item__btn">Baxın</a>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-06 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="350" height="350" src="https://images.unsplash.com/photo-1598928506311-c55ded91a20c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                      
                                    </div>
                                    <div class="product-item__content" style="margin-top: 2rem;">
                                        <h5 class="product-item__title" ><a href="/category">Qonaq Otağı</a></h5>
                                        <a href="/category" class="product-item__btn">Baxın</a>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-06 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="350" height="350" src="https://images.unsplash.com/photo-1578500494198-246f612d3b3d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                        
                                    </div>
                                    <div class="product-item__content" style="margin-top: 2rem;">
                                        <h5 class="product-item__title"><a href="/category">Yumşaq Mebel</a></h5>
                                        <a href="/category" class="product-item__btn">Baxın</a>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-06 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="350" height="350" src="https://images.unsplash.com/photo-1600585152220-90363fe7e115?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                      
                                    </div>
                                    <div class="product-item__content" style="margin-top: 2rem;">
                                        <h5 class="product-item__title"><a href="/category">Mətbəx Mebeli</a></h5>
                                        <a href="/category" class="product-item__btn" >Baxın</a>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <!-- swiper-slide end-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Deal Section End -->