
    <!-- Footer Strat -->
    <div class="footer-section dark-footer">

        <!-- Footer Widget Section Strat -->
        <div class="footer-widget-section pb-0">
            <div class="container custom-container">
                <div class="row gy-6">
                    <div class="col-md-6">
                        <!-- Footer Widget Wrapper Strat -->
                        <div class="footer-widget-wrapper d-flex flex-wrap gap-4">

                            <!-- Footer Widget Strat -->
                            <div class="footer-widget flex-grow-1">
                                <h4 class="footer-widget__title-02">Kategoriyalar</h4>

                                <ul class="footer-widget__link">
                                    <li><a href="#category">Yataq Otağı</a></li>
                                    <li><a href="#category">Qonaq Otağı</a></li>
                                    <li><a href="#category">Yumşaq Mebel</a></li>
                                    <li><a href="#category">Mətbəx Mebeli</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                            <!-- Footer Widget Strat -->
                            <div class="footer-widget flex-grow-1">
                                <h4 class="footer-widget__title-02">Servislər</h4>
                                <ul class="footer-widget__link">
                                    <li><a href="/category">Hazır Mebellərin Sifarişi</a></li>
                                    <li><a href="/order">Mebellərin Sifarişlə Hazırlanması</a></li>
                                    <li><a href="/order">Mebellərin Çatdırılması</a></li>
                                    <li><a href="/order">Privacy</a></li>
                                </ul>
                            </div>
                            <!-- Footer Widget End -->

                        </div>
                        <!-- Footer Widget Wrapper End -->
                    </div>
                    <div class="col-md-6">

                        <!-- Footer Widget Newsletter Strat -->
                        <div class="footer-widget">
                            <div class="footer-widget__newsletter ms-lg-auto">
                                <h4 class="footer-widget__title-02">Newsletter</h4>

                                <div class="position-relative mt-3">
                                    <form action="#">
                                        <input class="footer-widget__fild" type="text" placeholder="Email Address...">
                                        <button class="footer-widget__btn btn btn-secondary">Abonə Olun</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Widget Newsletter End -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget Section End -->

        <!-- Footer Copyright Strat -->
        <div class="footer-copyright">
            <div class="container custom-container">
                <div class="row row-cols-1 row-cols-md-2 align-items-center">
                    <div class="col order-2 order-md-1">
                        <!-- Footer Copyright Text Strat -->
                        <div class="footer-copyright-text">
                            <p>&copy; 2023 <strong> Anproduction </strong> Made with by <a href="www.landmarklair.com">Inal Qaralı</a></p>
                        </div>
                        <!-- Footer Copyright Text End -->
                    </div>
                    <div class="col order-1 order-md-2">
                        <!-- Footer Payment Icon Start -->
                        <ul class="footer-payment">
                            <li>
                              <a href="/">
                                  <box-icon style="background-color: #fff;" name='facebook-circle' type='logo' ></box-icon>
                              </a>
                            </li>
                            <li>
                               <a href="/">
                                  <box-icon style="background-color: #fff;" name='instagram-alt' type='logo' ></box-icon>
                               </a>
                            </li>
                            <li>
                                <a href="https://wa.me/994557140385"><box-icon style="background-color: #fff;" name='whatsapp-square' type='logo' ></box-icon></a>
                            </li>
                        </ul>
                        <!-- Footer Payment Icon End -->
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer Copyright End -->

    </div>
    <!-- Footer End -->