   <!-- Product Section Start -->
    <div class="section-padding-03 custom-container-four pt-0">
        <div class="product-row">
            <div class="product-wrapper ps-md-5 ps-lg-6 ps-xl-8 ps-xxl-11 order-2 ">
                <!-- Section Title Strat -->
                <div class="section-title-05">
                    <h5 class="section-title-05__title"><span>Yeni Mebellər</span></h5>
                    <a href="/gallery" class="read-more"><span>Mebellər</span><i class="lastudioicon lastudioicon-right-arrow"></i></a>
                </div>
                <!-- Section Title End -->

                <div class="product-active-three">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <!-- swiper-slide start -->
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="single-product.html"><img width="250" height="250" src="https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                    </div>

                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Ofis Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="single-product.html"><img width="250" height="250" src="https://plus.unsplash.com/premium_photo-1670359037518-95e2d90acb06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1928&q=80" alt="Product"></a>
                                    </div>

                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Klassik Mətbəx Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="single-product.html"><img width="250" height="250" src="https://images.unsplash.com/photo-1631679706909-1844bbd07221?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1992&q=80" alt="Product"></a>
                                    </div>

                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Yumşaq Qonaq Otağı Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="single-product.html"><img width="250" height="250" src="https://images.unsplash.com/photo-1505692795793-20f543407193?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2039&q=80" alt="Product"></a>
                                    </div>

                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Uşaq Otağı Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <!-- swiper-slide end-->

                        </div>
                    </div>
                    <div class="swiper-button-next"><i class="lastudioicon-arrow-right"></i></div>
                    <div class="swiper-button-prev"><i class="lastudioicon-arrow-left"></i></div>
                </div>

            </div>
            <div class="boxbanner-wrapper order-1">
                <!-- Ad Banner Start -->
                <a href="/category" class="boxbanner-bg boxbanner" data-bg-image="assets/images/banner/add-banner-two.jpg">
                    <div class="boxbanner-two">
                        <span class="boxbanner-title">Yeni Mebellər</span>
                    </div>
                    <div class="boxbanner-btn-area">
                        <span class="boxbanner-btn">Digər Mebellər <i class="lastudioicon lastudioicon-right-arrow"></i></span>
                    </div>
                </a>
                <!-- Ad Banner End -->
            </div>
        </div>
    </div>
    <!-- Product Section End -->