

<div class="row-3">
    
    <div class="col-12 d-flex justify-content-center flex-wrap align-items">

        <div>
            <a href="/category">
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1631048498692-af6262577031?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Mətbəx</b></h1>
                </div>
            </a>
        </div>
        <div>
            <a href="/category">
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1615529182904-14819c35db37?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Qonaq Otağı</b></h1>
                </div>
            </a>
        </div>
        <div>
            <a href="/category">
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1618221520382-3d68e64f58ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Yumşaq</b></h1>
                 </div>
            </a>
        </div>
        <div>
            <a href="/category">
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Yataq Otağı</b></h1>
                 </div>
            </a>
        </div>
        
        
        <div>
            <a href="/category">
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1600566752355-35792bedcfea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Hamam Mebeli</b></h1>
                 </div>
            </a>
        </div>
        <div>
            <a href="/category"> 
            <div class="p-10 mx-5 my-5 flex justify-content-center align-items-center" style="width: 300px; text-shadow: 1px 1px 2px #222; height: 300px; background-image: url('https://images.unsplash.com/photo-1621506821957-1b50ab7787a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80'); background-size: 100% 100%; background-position: center;">
                <h1 class="text-white"><b>Həyət Mebeli</b></h1>
                 </div>
            </a>
        </div>
        

    </div>
    </div>