
    <!-- Product Section Start -->
    <div class="section-padding-03 custom-container-four">
        <div class="product-row">
            <div class="product-wrapper pe-md-5 pe-lg-6 pe-xl-8 pe-xxl-11 order-md-1 order-2">
                <!-- Section Title Strat -->
                <div class="section-title-05">
                    <h5 class="section-title-05__title"><span>Trend</span></h5>
                    <a href="shop.html" class="read-more"><span>Mebellər</span><i class="lastudioicon lastudioicon-right-arrow"></i></a>
                </div>
                <!-- Section Title End -->

                <div class="product-active-two">
                    <div class="swiper">
                        <div class="swiper-wrapper">

                            <!-- swiper-slide start -->
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="250" height="250" src="https://images.unsplash.com/photo-1615874959474-d609969a20ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80" alt="Product"></a>
                                    </div>
                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Yataq Otağı Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="250" height="250" src="https://images.unsplash.com/photo-1616046619793-7e4badf3fe1f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80" alt="Product"></a>
                                    </div>
                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Qonaq Otağı Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="250" height="250" src="https://images.unsplash.com/photo-1632652507585-17a9579edcee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                    </div>
                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Yumşaq Mebel</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <div class="swiper-slide">
                                <!-- Product Item Start -->
                                <div class="product-item product-item-05 border text-center">
                                    <div class="product-item__image">
                                        <a href="/category"><img width="250" height="250" src="https://images.unsplash.com/photo-1556911073-a6e37cb3a1c3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                    </div>
                                    <div class="product-item__content" style="margin-top: 15px;">
                                        <h5 class="product-item__title"><a href="/category" style="font-size: 1.4rem;">Mətbəx Mebeli</a></h5>
                                    </div>
                                </div>
                                <!-- Product Item End -->
                            </div>
                            <!-- swiper-slide end-->

                        </div>
                    </div>
                    <div class="swiper-button-next"><i class="lastudioicon-arrow-right"></i></div>
                    <div class="swiper-button-prev"><i class="lastudioicon-arrow-left"></i></div>
                </div>

            </div>
        </div>
    </div>
    <!-- Product Section End -->


