<%-include("./inc/head.ejs")%>
<%-include("./inc/nav.ejs")%>

    <!-- Breadcrumb Section Start -->
    <div class="breadcrumb" data-bg-image="https://images.unsplash.com/photo-1618219740975-d40978bb7378?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2000&q=80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h1 class="breadcrumb_title">Anproduction Mebel Kategoriyalar</h1>
                        <ul class="breadcrumb_list">
                            <li><a href="/">Ev</a></li>
                            <li>Kategoriyalar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <div style="margin: 50px;">
        <!-- Product Tab Menu Strat -->
            <div class="product-tab-menu pb-8">
                <ul class="nav justify-content-center">
                    <li><button class="active" data-bs-toggle="tab" data-bs-target="#tab1">All</button></li>
                    <li><button data-bs-toggle="tab" data-bs-target="#tab2">Qonaq Otağı</button></li>
                    <li><button data-bs-toggle="tab" data-bs-target="#tab3">Mətbəx</button></li>
                    <li><button data-bs-toggle="tab" data-bs-target="#tab5">Yumşaq</button></li>
                </ul>
            </div>
            <!-- Product Tab Menu End -->

            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab1">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2158&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1617978241112-898785df45b9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1600210492493-0946911123ea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1521783988139-89397d761dce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1925&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">Hot</div>
                                <div class="product-item__image  border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1600210491305-7396500b5b31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1566195992011-5f6b21e539aa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Product"></a>
                                    
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1496417263034-38ec4f0b665a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Product"></a>
                                   
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1507149833265-60c372daea22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80" alt="Product"></a>
                                  
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1499955085172-a104c9463ece?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                  
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="Product"></a>
                                
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1491926626787-62db157af940?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1516455590571-18256e5bb9ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                            
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                        
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1495433324511-bf8e92934d90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                 
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1538944570562-2c9cb7857097?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                               
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1512914890251-2f96a9b0bbe2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Product"></a>
                              
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1512916194211-3f2b7f5f7de3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                             
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1560562125-ab512e4d9d29?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1579725942955-4d8377f8c66a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1554995207-c18c203602cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1567767292278-a4f21aa2d36e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1541123603104-512919d6a96c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1547166812-0fca6370dc03?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab4">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1558211583-d26f610c1eb1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2006&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1540574163026-643ea20ade25?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="assets/images/product/product-1-500x625.jpg" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab5">
                    <div class="row row-cols-lg-4 row-cols-sm-2 row-cols-1 mb-n50">
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1503174971373-b1f69850bded?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2113&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge">Hot</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1556228453-efd6c1ff04f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Product"></a>
                                    
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                        <div class="col mb-50">
                            <!-- Product Item Start -->
                            <div class="product-item text-center">
                                <div class="product-item__badge d-none">@@badge</div>
                                <div class="product-item__image border w-100">
                                    <a href="/order"><img width="350" height="350" src="https://images.unsplash.com/photo-1489171078254-c3365d6e359f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80" alt="Product"></a>
                                </div>
                                <div class="product-item__content pt-5">
                                    <h5 class="product-item__title"><a href="/order">Mebelin Adı</a></h5>
                                    
                                </div>
                            </div>
                            <!-- Product Item End -->
                        </div>
                       
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Product Section End -->

</div>
    <!-- Scroll Top Start -->
    <a href="#/" class="scroll-top" id="scroll-top">
        <i class="lastudioicon-up-arrow"></i>
    </a>
    <!-- Scroll Top End -->

<%-include("./inc/footer.ejs")%>

<%-include("./inc/script.ejs")%>
</body>

</html>